fieldset {
  border: 0;
  padding: 0;
  margin: 0 0 40px;
  text-align: center;
  @include tablet {
    margin-bottom: 60px
  }

  legend {
    margin-bottom: 34px;
  }

  .form-list {
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }

    > li {
      padding-bottom: 20px;
      position: relative;
      @include tablet {
        flex: 1 0 50%;

        &:nth-child(odd) {
          padding-right: 10px;
        }
        &:nth-child(even) {
          padding-left: 10px;
        }
      }
    }
    button {
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icon {
        width: 13px;
      }
    }
  }

  .input {
    color: $primary;
    &-text {
      border: 1px solid $fieldBorderColor;
      font-size: $baseFontSize;
      border-radius: $radius;
      padding: 16px 20px;
      width: 100%;
      transition: border-color $speed;
      &:hover {
        border-color: $primary;
      }
    }
    &::placeholder {
      color: $primary;
    }
  }
}
