// Colours
$black: #000;
$white: #fff;

$primary: #697B95;
$link: #008FFF;

$fieldBorderColor: #D2DCE8;

$button: #76E691;
$buttonBorder: #53B16A;

$footer: #FAFAFA;
$footerBorder: #D2DCE8;


// Media breakpoints
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$baseFontSize: 14px;


// misc
$spacing: 15px;
$radius: 5px;
$speed: 333ms;
